html, body{ margin:0px 0px; width: 100%;}

#hero {
  background: linear-gradient(#F05A2A,#E60C88);
  background-size:cover;
  position:relative;
  height:100vh;
  font-family: 'Ubuntu', sans-serif;
}

#hero hr {
  width: 280px;
  margin-top: -10px;
  background-color:white;
}

#hero #quote {
  font-style:italic;
}

.header{
  position:absolute;
  top:45%;
  text-align:center;
  width:100%;
  color:#fff;
  -ms-transform: translate(0,-45%); /* IE 9 */
  -webkit-transform: translate(0,-45%); /* Safari */
  transform: translate(0,-45%);
}

.header h1 {
  text-align:center;
  font-family: 'Ubuntu', sans-serif;
  font-weight:100;
  font-size: 60px;
  margin-top: 5px;
}


.header .lead {
  text-align:center!important;
  color:white!important;
}

.lead {
  font-size: 17pt;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300!important;
  color: grey!important;
  line-height: 130%!important;
  text-align: justify;
}

.lead a {
    color: white!important;
}

.lead a:hover {
    color: white!important;
    text-decoration: underline !important;
}

#emailForm {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#emailInput {
    font-family: 'Open Sans', sans-serif;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 12px;
    background: rgb(196, 75, 110);
    border: 0px;
    color: white;
    font-size: 18px;
    width: 165px;
}

#emailInput:focus {
    color: white;
    outline: 0;
}

#emailInput::placeholder {
    color: white;
}

#emailSubmit {
    font-family: 'Open Sans', sans-serif;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 12px;
    border: 0px;
    background-color: white;
    color: rgb(196, 75, 110);
    font-size: 18px;
    font-weight: bold;
    margin-left: -5px;
}

#emailSubmit:focus {
  outline: 0;
}

#emailSubmit:hover {
    cursor: pointer;
}

#emailSubmit:active {
    background-color: #9b59b6;
}

.social img {
  height: 45px;
  padding-left: 2px;
  padding-right: 2px;
  -webkit-filter: grayscale(90%);
  -moz-filter: grayscale(90%);
  filter: grayscale(90%);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;

}

.social img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

#profpic {
  padding-bottom: 0;
  width: 640px;
  height: 100px;
}

.content{
  border-top: 1px solid rgb(220, 220, 220);
  font-family: 'Open Sans', sans-serif;
  padding:30px 0px;
  text-align:justify;
  width:80%;
  margin:0px auto;
}

.content h2{
  font-family: 'Ubuntu', sans-serif;
  font-size: 30pt;
  font-weight: 100;
  margin:0px 0px 30px 0px;
  text-align:left;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(235, 50, 90);
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300!important;
    font-size: 14pt;
}

.quote {
    font-style: italic;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

#footer{
  padding:5px 0px;
  background:black;
  font-family:'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
}

#footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 9pt;
}

#footer a {
    color: white!important;
    line-height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#footer a:hover {
    text-decoration: underline!important;
}

a {
  color: rgb(0, 210, 255);
  text-decoration: none!important;
}

a:hover {
  color: rgb(0, 176, 214)!important;
}

a:visited {
  color: rgb(0, 210, 255);
  text-decoration: none!important;

  font-style: normal;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #ddeef2}



@media only screen and (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    padding-bottom: 10px!important;
    padding-top: 5px!important;
  }

  .lead {
    width: 300px;
    font-size: 11pt;
  }

  #profpic {
    width: 220px;
    height: 80px;
  }

  #emailInput {
      font-size: 8.5pt;
  }

  #emailSubmit {
      font-size: 8.5pt;
  }
}

@media only screen and (max-width: 480px) {
  .header h1 {
    /*font-size: 40px;*/
  }
}


/** Sponsorship Logo Styles **/
.sponsor-logos {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.logo-medium {
    width: 250px;
}
